<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="renderer" content="ie-stand">
    <meta name="keywords" content=""/>
    <!-- //custom-theme -->
    <link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../../css/JiSlider.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/flexslider.css" type="text/css" media="screen" property=""/>
    <!-- Owl-carousel-CSS -->
    <link href="../../css/owl.carousel.css" rel="stylesheet">
    <link href="../../css/style.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- font-awesome-icons -->
    <link href="../../css/font-awesome.css" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,900"
          rel="stylesheet">
</head>

<body>

<div class="footer">
        <div class="container">

            <div class="w3ls_address_mail_footer_grids">
                <div class="col-md-3 w3ls_footer_grid_left">
                    <div class="wthree_footer_grid_left">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </div>
                    <p>上海市宝山区呼兰西路100号永谊大厦16楼</p>
                </div>
                <div class="col-md-3 w3ls_footer_grid_left">
                    <div class="wthree_footer_grid_left">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <p>+86-18621928386（微信）</p>
                </div>

                <div class="col-md-3 w3ls_footer_grid_left">
                    <div class="wthree_footer_grid_left">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                    </div>
                    <p>021-60820003转8011</p>
                </div>

                <div class="col-md-3 w3ls_footer_grid_left">
                    <div class="wthree_footer_grid_left">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                    <p>hanxinxin@happydo.vip</p>
                </div>
                <div class="clearfix"></div>
            </div>
            <hr style="filter: alpha(opacity=100,finishopacity=0,style=2)" width="100%" color="#6f5499" size="10"/>
            <div class="agileinfo_copyright">
                <p>Copyright © 2016 All rights reserved 版权所有：上海悦为电子商务股份有限公司 <span
                        style="color: #f37d7c">苏ICP备17049592号-1</span></p>
            </div>
        </div>
    </div>
</body>
</html>

   